*{
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    text-decoration: none;
}
*:focus{
  outline:none;
}
body {
  position: relative;
  background: #212121;
}
.nav-bar{
    display: flex;
    align-items: center;
    /* width: 1750px;
    height: 56px; */
    width: 100%;
    height: 60px;
    top: 0;
    left:0;
    padding: 0 2.5vw;
    /* background: #212121; */
    position: fixed;

}
.burger-menu{
    width: 40px;
    height: 30px;
    margin:10px;
    color: aliceblue;
    cursor: pointer;
}
.youtube-logo{
   display: flex; 
}

  @import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&subset=latin-ext');
.container{ 
  display:flex;
  margin-left: 15px;

}
.triangle{   
  margin-top:0.6rem;
  margin-left:1.2rem;
  border-top: 0.3rem solid transparent;
  border-left: 1.0rem  solid white;
  border-bottom: 0.4rem solid transparent;
}
.logo{
  height:2rem;
  width:3rem;
  background-color:#FF0000;
  border-top-left-radius:25%;
  border-top-right-radius:25%;
  border-bottom-left-radius:25%;
  border-bottom-right-radius:25%;
}
.text{
  font-family: 'Pathway Gothic One', sans-serif;
  padding-left:0.5rem;
  font-size:1.7rem;
  font-weight:600;
  color: white;
}




.search-bar{
    display:flex;
    align-items: center;
    
}
#search-data{
    width: 70vh;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 350px;
    padding-left: 10px;
    border: none;
    /* background: #121212; */
    color: aliceblue;
}

#search-logo{
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    /* background: #303030; */
    color: aliceblue;
   cursor: pointer;
}
#mic-phone{
    color: aliceblue;
    /* background-color: #121212; */
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 40px;
}
.mini-icon{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap:30px;
    margin-left: 100px;
    cursor: pointer;
}
.side-bar {
  font-family: 'Figtree', sans-serif;
  position: fixed;
  color: aliceblue;
  top: 59px;
  left: 0;
  min-width: 250px;
  width: 250px;
  height: calc(100vh - 60px);
  /* background: #212121; */
  padding-right: 10px;
  overflow-y: scroll;
}
.side-bar-icon:hover,
.side-bar-icon.active {
  background: rgba(86, 82, 82, 0.6);
}
.side-bar::-webkit-scrollbar{
  display: none;
}

.side-bar-icon{
 display: flex;
 align-items: center;
 width: 200px;
 height: 50px;
 padding-inline-start: 1.5rem;
 gap:25px;
 font-size: 14px;
 font-weight: 400;
 cursor: pointer;
}
.side-bar-icon:hover{
  background-color:  #303030;
}
 

hr{
  border: 1px solid #303030;

}
h4{
  margin: 15px;
  color: #AAAAAA;
}
.nav-bar-2{
  position: fixed;
  left: 250px;
  top: 56px;
  width: calc(100% - 250px);
  height: 60px;
  /* background: #272323; */
  border-top: 1px solid #988484;
  border-bottom: 1px solid #988484;
  padding: 0 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 10;
}

.nav-bar-2::-webkit-scrollbar{
    display: none;
}

.nav-btn{
   padding: 10px 20px ;
   flex: 0 0 auto;
   border-radius: 32px;
   border: 0.3px;
   /* gap: 10px; */
   color: aliceblue;
   background:  #303030;
   margin-right: 15px;
   font-size: 15px;
   cursor: pointer;
}
.nav-btn.active{
  color: #fff;
  /* background-color: #242424; */
}
.video-container{
  width: calc(100% - 250px);
  margin-top: 120px;
  margin-left: 250px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 31%);
  grid-gap: 20px 29px;
  overflow-x: hidden;
  justify-content: center;
  /* background-color: #121212; */
  }




@media (max-width: 1200px) {
  .video-container {
    grid-template-columns: repeat(2, 45%);
  }
}
@media (max-width: 800px) {
  .video-container {
    /* grid-template-columns: repeat(1, 95%); */
    width: 100%;
    margin-left: 0;
  }
  .side-bar {
    display: none;
  }
  .nav-bar-2 {
    left: auto;
    width: 100%;
  }
}

.title {
  width: 150px;
  height: 40px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  margin: 2px 0; 
}
.thumbnail {
  width: 100%;
  height: 199px;
  object-fit: cover;
  border-radius: 13px;
}
.content {
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.channel-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}

.title {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.channel-name {
  font-size: 14px;
  margin: 2px 0;
  color: #979797;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    rgb(90, 87, 93) 0%,
    rgb(195, 184, 195) 100%
  );
  border-radius: 100px;
}

.green {
  background-color: green;
}
.nav-btn:hover,
.nav-btn:visited,
.nav-btn:link {
  /* background-color: blue; */
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
  transition: all 0.2s ease-in-out;
  background-color: grey;
  background-color: green;
}
.nav-btn:active {
  transition: all 0.1s ease-in-out;
  transform: scale(1.02);
  padding: 10px 20px;
  font-size: 16px;
}

:hover .nav-btn.green {
  background-color: green;
}

.thumbnail:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

/* .dark-white-btn {
  background-color: #fbf5ff;
  z-index: 100000;
  position: fixed;
  bottom: 2%;
  left: 2%;
  padding: 17px;
  color: black;
  font-size: larger;
  font-weight: bolder;
  border-radius: 14px;
} */
